body {
  background-color: #f5f7fa;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@media (max-width: 768px) {

  body {
    background-color: white;
  }

  .profile-img {
    width: 110px;
    height: 110px;
  }

  h1 {
    font-size: 1.5rem;
  }

}